<div class="table">
    <table mat-table [dataSource]="orders" class="mat-elevation-z8">
        <ng-container matColumnDef="OrderDate">
            <th mat-header-cell *matHeaderCellDef> Order Date </th>
            <td mat-cell *matCellDef="let order"> {{order.orderDate | date:'short'}} </td>
            <td mat-footer-cell *matFooterCellDef></td>
        </ng-container>

        <ng-container matColumnDef="OrderedBy">
            <th mat-header-cell *matHeaderCellDef> Ordered By </th>
            <td mat-cell *matCellDef="let order">{{order.userEmail}}</td>
            <td mat-footer-cell *matFooterCellDef></td>
        </ng-container>


        <ng-container matColumnDef="Status">
            <th mat-header-cell *matHeaderCellDef>Order Status</th>
            <td mat-cell *matCellDef="let order">
                <p *ngIf="order.isProcessed">Processed</p>
                <p *ngIf="!order.isProcessed">Not processed</p>
            </td>
            <td mat-footer-cell *matFooterCellDef></td>
        </ng-container>

        <ng-container matColumnDef="Options">
            <th mat-header-cell *matHeaderCellDef class="options">Options</th>
            <td mat-cell *matCellDef="let order">
                <div fxFlex>
                    <button mat-button color="warn" (click)="goOrder(order.id)">
                        Details
                    </button>
                </div>
            </td>
            <td mat-footer-cell *matFooterCellDef></td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        <tr mat-footer-row *matFooterRowDef="displayedColumns; sticky: true"></tr>
    </table>
</div>