<mat-nav-list>
    <a mat-list-item routerLink="products">
        <mat-icon>playlist_add</mat-icon>
        <span class="nav-caption">Products List</span>
    </a>
    <a mat-list-item routerLink="product/new">
        <mat-icon>add_to_queue</mat-icon>
        <span class="nav-caption">new product</span>
    </a>
    
    <a mat-list-item routerLink="orders">
        <mat-icon>format_list_bulleted</mat-icon>
        <span class="nav-caption">Orders List</span>
    </a>
    <a mat-list-item routerLink="users">
        <mat-icon>person_add</mat-icon>
        <span class="nav-caption">Users List</span>
    </a>
    <a mat-list-item (click)="closeSidenave()" mat-list-item>
        <mat-icon aria-hidden="false">close</mat-icon>
        <span class="nav-caption">Close menu</span>
    </a>
</mat-nav-list>