<mat-nav-list>
  <a mat-list-item routerLink="products">
    <div class="sidenav-item">
      <mat-icon>playlist_add</mat-icon>
      <span class="nav-caption">Products List</span>
    </div>
  </a>
  <a mat-list-item routerLink="product/new">
    <div class="sidenav-item">
      <mat-icon>add_to_queue</mat-icon>
      <span class="nav-caption">new product</span>
    </div>
  </a>

  <a mat-list-item routerLink="orders">
    <div class="sidenav-item">
      <mat-icon>format_list_bulleted</mat-icon>
      <span class="nav-caption">Orders List</span>
    </div>
  </a>
</mat-nav-list>
