<div  fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="5px">
    <div (mouseover)="changeRating(1)" (mouseout)="resetRating()" (click)="commitChange()">
        <mat-icon >star</mat-icon>
    </div>
    <div (mouseover)="changeRating(2)" (mouseout)="resetRating()" (click)="commitChange()">
        <mat-icon *ngIf="ratingSelected>1">star</mat-icon>
        <mat-icon *ngIf="ratingSelected<=1">star_border</mat-icon>
    </div>
    <div (mouseover)="changeRating(3)" (mouseout)="resetRating()" (click)="commitChange()">
        <mat-icon *ngIf="ratingSelected>2">star</mat-icon>
        <mat-icon *ngIf="ratingSelected<=2">star_border</mat-icon>
    </div>
    <div (mouseover)="changeRating(4)" (mouseout)="resetRating()" (click)="commitChange()">
        <mat-icon *ngIf="ratingSelected>3">star</mat-icon>
        <mat-icon *ngIf="ratingSelected<=3">star_border</mat-icon>
    </div>
    <div (mouseover)="changeRating(5)" (mouseout)="resetRating()" (click)="commitChange()">
        <mat-icon *ngIf="ratingSelected>4">star</mat-icon>
        <mat-icon *ngIf="ratingSelected<=4">star_border</mat-icon>
    </div>
    <div>
        <p>{{rating| number:'1.2-2'}}/5</p>
    </div>
</div>
