<mat-nav-list>
  <a mat-list-item (click)="toggleFilters()" class="headers">
    <mat-icon aria-hidden="false">filter_list</mat-icon>
    <span class="nav-caption">Filters</span>
  </a>
  <mat-form-field appearance="outline" *ngIf="showFilters" class="categories">
    <mat-label>by categories</mat-label>
    <mat-select placeholder="filter by category" (selectionChange)="selectCategroy($event)">
      <mat-option value="{{category.id}}" *ngFor="let category of categories">
        {{category.name}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <div class="prices" *ngIf="showFilters">
    <form [formGroup]="priceFilterForm">
      <div class="price-fields">
        <mat-form-field appearance="outline" class="price-field">
          <mat-label>Lower price</mat-label>
          <input matInput placeholder="Lower limit" type="number" formControlName="lowerPrice">
        </mat-form-field>
        <mat-form-field appearance="outline" class="price-field">
          <mat-label>Upper price</mat-label>
          <input matInput placeholder="Upper limit" type="number" formControlName="upperPrice">
        </mat-form-field>
      </div>
      <div class="apply">
        <button mat-flat-button color="warn" (click)="filterByPrice()">Apply</button>
      </div>
    </form>
  </div>
  <mat-divider *ngIf="showFilters || showSortBy"></mat-divider>
  <a mat-list-item (click)="toggleSortBy()" class="headers">
    <mat-icon aria-hidden="false">sort_by_alpha</mat-icon>
    <span class="nav-caption">Sort By</span>
  </a>
  <form class="sort-by" [formGroup]="sortByForm">
    <mat-radio-group (change)="sortField($event)" formControlName="order" *ngIf="showSortBy">
      <mat-radio-button value="name">
        name
      </mat-radio-button>
      <mat-radio-button value="price">
        price
      </mat-radio-button>
      <mat-radio-button value="rating">
        rating
      </mat-radio-button>
    </mat-radio-group>
    <mat-radio-group (change)="sortDirection($event)" formControlName="dir" *ngIf="showSortBy">
      <mat-radio-button value="asc">
        asc
      </mat-radio-button>
      <mat-radio-button value="desc">
        desc
      </mat-radio-button>
    </mat-radio-group>
  </form>
  <mat-divider *ngIf="showFilters || showSortBy"></mat-divider>
  <div class="search">
    <mat-form-field appearance="outline">
      <mat-label>Search a product</mat-label>
      <input matInput placeholder="Search a product" [(ngModel)]="options.searchQuery" (keyup.enter)="search()">
      <mat-icon matSuffix>search</mat-icon>
    </mat-form-field>
  </div>
</mat-nav-list>
