.container {
  display: flex;
  justify-content: center;
  padding: 20px;
}

.form-card {
  width: 400px;
  font-family: 'Architects Daughter', cursive;

  mat-card-header {
    display: flex;
    justify-content: center;
  }

  .name,
  .address-details {
    display: flex;
    justify-content: center;
  }

  .phone,
  .address {
    width: 100%;
  }

  .options {
    display: flex;
    justify-content: center;
  }
}
