<div class="table" fxLayout="column" fxLayoutAlign="start center" >
    <table mat-table [dataSource]="cart.items" class="mat-elevation-z8">
        <ng-container matColumnDef="Product">
            <th mat-header-cell *matHeaderCellDef> Product </th>
            <td mat-cell *matCellDef="let item"> {{item.product.productName}} </td>
            <td mat-footer-cell *matFooterCellDef></td>
        </ng-container>

        <ng-container matColumnDef="Quantity">
            <th mat-header-cell *matHeaderCellDef class="quantity-head"> Quantity </th>
            <td mat-cell *matCellDef="let item" class="quantity-row">
                <div class="divbtn" fxLayout="row" fxLayoutAlign="start center">
                    <button mat-button color="primary" (click)="increment(item.product.productId)"
                        class="btn-left">+</button>
                    <button mat-button class="btn-mid">
                        <mat-icon matBadge="{{cart.itemCount(item.product.productId)}}" >shopping_cart</mat-icon>
                    </button>
                    <button mat-button color="warn" (click)="decrement(item.product.productId)"
                        class="btn-right">-</button>
                </div>
            </td>
            <td mat-footer-cell *matFooterCellDef></td>
        </ng-container>
    
        <ng-container matColumnDef="Price">
            <th mat-header-cell *matHeaderCellDef class="price">Price</th>
            <td mat-cell *matCellDef="let item" class="price">{{item.itemQuantity*item.itemPrice | currency:'MAD'}}</td>
            <td mat-footer-cell *matFooterCellDef class="totalPrice"><strong> {{cart.totalPrice() | currency:'MAD'}} </strong></td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        <tr mat-footer-row *matFooterRowDef="displayedColumns; sticky: true"></tr>
    </table>
    
</div>
<div  fxLayout="column" fxLayoutAlign="start center">
    <div class="btn-nav" fxLayout="row" fxLayoutAlign="space-between start">
        <button class="nav" mat-button color="primary" (click)="goStore()">
            <mat-icon>chevron_left</mat-icon>
            Continue Shopping
        </button>
        <button class="nav" mat-button color="primary" (click)="goShipping()">
            Go to shipping
            <mat-icon>chevron_right</mat-icon>
        </button>
    </div>
</div>