table{
    width:700px;
    margin:10px;
}

div.table{
    display:flex;
    justify-content: center;
}

.price{
    width:10%;
    text-align:center;
}

mat-form-field{
    width:50%;
}
button{
    margin-bottom: 0px;
}
.totalPrice{
    text-align:center; 
}
.quantity-head{
    text-align:center;
}
