<mat-toolbar class="header">
    <div>
        <ul fxLayoutGap="100px" class="navigation-items" fxLayout="row" fxLayoutAlign="center center">
            <li>
                <a routerLink="" fxLayout="column" fxLayoutAlign="start center">
                    <mat-icon aria-hidden="false">face</mat-icon>
                    <span class="nav-caption">My account</span>
                </a>
            </li>
            <li>
                <a routerLink="myorders" fxLayout="column" fxLayoutAlign="start center">
                    <mat-icon aria-hidden="false">face</mat-icon>
                    <span class="nav-caption">My orders</span>
                </a>
            </li>
            <li>
                <a routerLink="" fxLayout="column" fxLayoutAlign="start center">
                        <mat-icon aria-hidden="false">face</mat-icon>
                        <span class="nav-caption">My Reviews</span>
                    </a>
                </li>
        </ul>
    </div>

</mat-toolbar>