a {
    text-decoration: none;
    color: white;
}
 
a:hover, a:active{
    color: lightgray;
}

mat-toolbar{
    background-color: #4A26FD;
    opacity:0.8;
    box-shadow: 0 2px 1px -1px rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 1px 3px 0 rgba(0,0,0,.12);
}

.navigation-items{
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.nav-caption{
    display: inline-block;
    padding-left: 6px;
    font-size: small;
}

.header{
    display:flex;
    justify-content: center;
}