a {
    text-decoration: none;
    color: white;
}
 
a:hover, a:active{
    color: lightgray;
}

.nav-caption{
    display: inline-block;
    padding-left: 6px;
    font-size: large;
}

.more-options{
    color:royalblue;
}


mat-list-option.option {
    height: 20px;
    width: 100%;
    font-size: 15px;
}

.price-form{
    width:60%;
    text-align: center;
    font-size: x-small;
}

button{
    text-align: center;
    font-size: x-small;
    margin-bottom: 5px;
}

form.price-form{
    width:100%;
    text-align: center;
    display: contents;
}

mat-chip{
    text-align: center;
    font-size: x-small;
}

mat-radio-button{
    margin-left: 20px;
    font-size: medium;
    margin-bottom: 3px;
}
mat-radio-group{
    margin-top: 10px;
    margin-right: 10px;
    margin-bottom: 5px;
}
