<mat-toolbar  class="header">
    <div >
        <ul fxLayoutGap="100px" class="navigation-items" fxLayout="row" fxLayoutAlign="center center">
            <li>
                <a routerLink="/store">
                    <mat-icon>store</mat-icon>
                    <span class="nav-caption">Store</span>
                </a>
            </li>
            <li>
                <a routerLink="checkout">
                    <mat-icon matBadge="{{cart.totalCount()}}" matBadgeColor="accent">local_grocery_store</mat-icon>
                    <span class="nav-caption">Checkout</span>
                </a>
            </li>
        </ul>
    </div>
    
</mat-toolbar>