a {
    text-decoration: none;
    color: white;
}
 
a:hover, a:active{
    color: lightgray;
}

.nav-caption{
    display: inline-block;
    padding-left: 6px;
    font-size: large;
}

.more-options{
    color:royalblue;
}


mat-list-option.option {
    height: 20px;
    width: 100%;
    font-size: 15px;
}

.price-form{
    width:60%;
    text-align: center;
    font-size: x-small;
}

button{
    text-align: center;
    font-size: x-small;
    margin-bottom: 5px;
}