<mat-nav-list>

        <a mat-list-item routerLink="store">
            <mat-icon>store</mat-icon>
            <span class="nav-caption">Store</span>
        </a>
        <a mat-list-item routerLink="checkout">
            <mat-icon matBadge="{{cart.totalCount()}}" matBadgeColor="accent">local_grocery_store</mat-icon>
            <span class="nav-caption">Checkout</span>
        </a>
        
        <mat-divider></mat-divider>
        <filter-and-sort></filter-and-sort> 
        <mat-divider></mat-divider>
        <a mat-list-item (click)="sidenav.toggle()" mat-list-item>
            <mat-icon aria-hidden="false">close</mat-icon>
            <span class="nav-caption">Close menu</span>
        </a>
</mat-nav-list>


    