<mat-card>
    <mat-card-header>
        <mat-card-title>Cart</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <div class="item">
            <div class="header" fxLayout="row" fxLayoutAlign="space-between end">
                <h3 class="product-name">Product Name</h3>
                <p class="product-id">Product Id</p>
            </div>
            <mat-divider></mat-divider>
            <div class="header" fxLayout="row" fxLayoutAlign="space-between end">
                <p class="product-quantity">Quantity</p>
                <p class="product-price">Total Price</p>
            </div>
        </div>
        <div class="item">
            <div class="header" fxLayout="row" fxLayoutAlign="space-between end">
                <h3 class="product-name">Product Name</h3>
                <p class="product-id">Product Id</p>
            </div>
            <mat-divider></mat-divider>
            <div class="header" fxLayout="row" fxLayoutAlign="space-between end">
                <p class="product-quantity">Quantity</p>
                <p class="product-price">Total Price</p>
            </div>
        </div>
    </mat-card-content>
</mat-card>