mat-card-header{
    justify-content: center;
}

h3.product-name {
    margin-block-end: 1px;
}
p.product-id {
    margin-block-end: 1px;
}

mat-card{
    width:500px;
    margin: 2px;
}

div.main{
    margin:10px;
}
.item{
    margin:5px;
}
.mat-card .mat-divider-horizontal {
    width: inherit;
    position: inherit;
}

mat-form-field.status, div.status{
    width: 100%;
}

button.btn-status{
    width:100%;
}