.product-card {
  width: 180px;
  height: 250px;
  background-image: url('../../../../assets/hats.png');
  background-size: cover;
  border-radius: 5px;
  cursor: pointer;
  position: relative;
  box-shadow: 
    0 2px 1px -1px rgba(0,0,0,.12),
    0 1px 1px 0 rgba(0,0,0,.14),
    0 1px 3px 0 rgba(0,0,0,.12);
}

.go-details {
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 1;
}

.content {
  height: 100%;
  width: 100%;
  padding: 12px;
  box-sizing: border-box;
  display: none;
  background-color: rgba($color: #ffd06a, $alpha: 0.6);
}

.product-card:hover {
  .content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    .info {
      color: #111;
      font-weight: 800;
      font-family: 'Architects Daughter', cursive;
      font-size: 1.1rem;

      p {
        margin: 0;
      }
    }

    .btn-buy {
      width: 100%;

      button {
        width: 100%;

        z-index: 2;
      }
    }

    .btn-quantity {
      width: 100%;

      button {
        width: 50%;

        &:first-child {
          z-index: 3;
        }

        &:last-child {
          z-index: 2;
        }
      }
    }
  }
}