<div fxLayout="column" fxLayoutAlign="start center">
    <mat-card class="account-card" >
        <mat-card-header class="account-card">
            <mat-card-title>My account</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <form  fxLayout="column" fxLayoutAlign="center center" [formGroup]="profileForm">
                <mat-form-field class="account-card">
                    <input matInput placeholder="Email" [value]="this.user.userEmail" disabled>
                </mat-form-field>

                <mat-form-field class="account-card">
                    <input matInput placeholder="User name" formControlName="userName">
                </mat-form-field>

                <div class="account-name">
                    <mat-form-field class="account-name" fxFlex>
                        <input matInput placeholder="First name" formControlName="firstName">
                    </mat-form-field>
                    <mat-form-field class="account-name" fxFlex>
                        <input matInput placeholder="Last name" formControlName="lastName">
                    </mat-form-field>
                </div>

                <mat-form-field class="account-card">
                    <input matInput placeholder="Phone number" formControlName="phoneNumber">
                </mat-form-field>

                <button  class="account-card" mat-raised-button color='primary'(click)="updateProfile()">Update profile</button>
            </form>
        </mat-card-content>
    </mat-card>
    <ng-container *ngFor="let address of user.addresses; index as i;">
        <mat-card class="address-card">
            <mat-card-header class="address-card">
                <mat-card-title>Address {{i+1}}</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <form fxLayout="column" fxLayoutAlign="center center">
                    <mat-form-field class="address-card">
                        <input matInput placeholder="address first line" [value]="address.firstLine" disabled>
                    </mat-form-field>
        
                    <mat-form-field class="address-card">
                        <input matInput placeholder="address second line" [value]="address.secondLine" disabled>
                    </mat-form-field>
        
                    <div class="address-name">
                        <mat-form-field class="address-name" fxFlex>
                            <input matInput placeholder="city" [value]="address.city" disabled>
                        </mat-form-field>
                        <mat-form-field class="address-name" fxFlex>
                            <input matInput placeholder="state" [value]="address.state" disabled>
                        </mat-form-field>
                    </div>
                    <div class="address-name">
                        <mat-form-field class="address-name" fxFlex>
                            <input matInput placeholder="country" [value]="address.country" disabled>
                        </mat-form-field>
                        <mat-form-field class="address-name" fxFlex>
                            <input matInput placeholder="zip code" [value]="address.zipCode" disabled>
                        </mat-form-field>
                    </div>
                </form>
                <div>
                    <button class="account-card-delete" mat-button color='warn' (click)="deleteAddress(address.id)">Delete</button>
                </div>
            </mat-card-content>
        </mat-card>
    </ng-container>
    
    <mat-card class="address-card">
        <mat-card-header class="address-card">
            <mat-card-title>Add an address</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <form fxLayout="column" fxLayoutAlign="center center" [formGroup]="addAddressForm">
                <mat-form-field class="address-card">
                    <input matInput placeholder="address first line" formControlName="firstLine">
                </mat-form-field>
    
                <mat-form-field class="address-card">
                    <input matInput placeholder="address second line" formControlName="secondLine">
                </mat-form-field>
    
                <div class="address-name">
                    <mat-form-field class="address-name" fxFlex>
                        <input matInput placeholder="city" formControlName="city">
                    </mat-form-field>
                    <mat-form-field class="address-name" fxFlex>
                        <input matInput placeholder="state" formControlName="state">
                    </mat-form-field>
                </div>
                <div class="address-name">
                    <mat-form-field class="address-name" fxFlex>
                        <input matInput placeholder="country" formControlName="country">
                    </mat-form-field>
                    <mat-form-field class="address-name" fxFlex>
                        <input matInput placeholder="zip code" formControlName="zipCode">
                    </mat-form-field>
                </div>
    
                <button class="account-card" mat-raised-button color='primary' (click)="saveAddress()">save</button>
            </form>
        </mat-card-content>
    </mat-card>
</div>
