<div *ngIf="myReviews.length" class="reviews">
  <div class="reviews-list">
    <app-product-review *ngFor="let review of myReviews | paginate: { itemsPerPage: 9, currentPage: p }"
      [review]="review" profil="true" (click)="goProduct(review.productId)" class="review"></app-product-review>
  </div>
  <div class="pagination-review">
    <pagination-controls (pageChange)="pageReviewChange($event)"></pagination-controls>
  </div>
</div>
<div *ngIf="!myReviews.length" class="reviews">
  <p>You don't have any reviews yet</p>
</div>
