.reviews-list {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  width: 100%;
}

.pagination-review {
  display: flex;
  justify-content: center;
}

.reviews {
  margin: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Architects Daughter', cursive;
}

.review {
  cursor: pointer;
}
