.card{
    width:250px;
    margin:5px;
}

img{
    height:200px;
}
    

.header{
    justify-content: center;
}

.btn{
    width:100%;
}
.mat-card-actions .mat-button, .mat-card-actions .mat-raised-button, .mat-card-actions .mat-stroked-button {
    margin: 0 0px;
}
.btn-left{
    width:40%;
    float:left;
}
.btn-right{
    width:40%;
    float:right;
}
.btn-mid{
    width:20%;
}
.mat-button, .mat-flat-button, .mat-icon-button, .mat-stroked-button {
    min-width: 0px;
}

.divbtn{
    width:100%;
    margin-bottom:2px;
}

// 
// @media only screen and (max-width: 1040px){
//     .card{
//         width: 21%;
//     } 
// }

// @media only screen and (max-width: 780px)  {
//     .card{
//         width: 27%;
//     } 
// }
// @media only screen and (max-width: 520px) {
//     .card{
//         width: 43%;
//     } 
// }
@media only screen and (max-width: 260px) {
    .card{
        width: 100%;
    } 
    img{
        height:150px;
    }
}











