* {
  font-family: 'Architects Daughter', cursive;
}

.product-section {
  display: flex;
  justify-content: center;
  margin: 20px 1% 0;

  .display {
    width: 63%;
    margin-right: 1%;
    box-shadow:
      0 2px 1px -1px rgba(0, 0, 0, .2),
      0 1px 1px 0 rgba(0, 0, 0, .14),
      0 1px 3px 0 rgba(0, 0, 0, .12);
  }

  .options {
    width: 33%;
    display: flex;
    flex-direction: column;

    .card-actions .actions {
      display: flex;
      justify-content: center;

      app-cart-actions {
        width: 100%;
      }
    }

    .card-description {
      padding-top: 10px;
      height: fit-content;

      mat-card {
        height: fit-content;

        mat-card-title {
          margin-bottom: 0;
        }

        mat-card-header,
        .categories,
        .description {
          display: flex;
          flex-direction: column;
          align-items: center;
          margin-bottom: 0;
        }
      }
    }
  }
}
