<div class="product-section">
  <div class="display" *ngIf="product.id">
    <mat-carousel timings="250ms ease-in" [autoplay]="true" interval="5000" color="accent" maxWidth="auto"
      proportion="50" [slides]="product.images.length + 1" [loop]="true" [hideArrows]="false" [hideIndicators]="false"
      [useKeyboard]="true" [useMouseWheel]="false" orientation="ltr">
      <mat-carousel-slide [image]="product.coverImage" overlayColor="#00000040" [hideOverlay]="false">
      </mat-carousel-slide>
      <mat-carousel-slide *ngFor="let image of product.images; let i = index" [image]="image" overlayColor="#00000040"
        [hideOverlay]="false">
      </mat-carousel-slide>
    </mat-carousel>
  </div>
  <div class="options">
    <mat-card class="card-actions">
      <mat-card-header>
        <mat-card-title>{{ product.name }}</mat-card-title>
        <mat-card-subtitle>price: {{ product.price | currency: 'USD' }}</mat-card-subtitle>
      </mat-card-header>
      <mat-card-actions class="actions">
        <app-cart-actions [productId]="product.id" [cartLogo]="true" *ngIf="product.id"></app-cart-actions>
      </mat-card-actions>
    </mat-card>
    <div class="card-description">
      <mat-card>
        <mat-card-header>
          <mat-card-title>About the product:</mat-card-title>
          <rating-bar [rating]="product.rating" readOnly="true"></rating-bar>
        </mat-card-header>
        <mat-card-content>
          <p class="description">
            {{ product.description }}
          </p>
          <div class="categories">
            <p>Category:</p>
            <mat-chip-list>
              <mat-chip *ngFor="let category of product.categories">
                {{ category.name }}
              </mat-chip>
            </mat-chip-list>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
