table{
    width:700px;
    margin:20px;
    text-align: center;
}
th.mat-header-cell {
    text-align: center;
}
div.table{
    display:flex;
    justify-content: center;
}


button{
    margin: 5px;
}
.options{
    width: 20%;
}

.paginator{
    display:block;
}