mat-card.manage-category {
  width: 300px;
  margin: 10px;
  ;
}

mat-card-header.manage-category {
  justify-content: center;
}

mat-form-field.manage-category {
  width: 100%;
}

button.manage-category {
  display: block;
  width: 100%;
  margin-bottom: 2px;
}

table {
  width: 400px;
  //   margin: 10px;
}

td.product {
  justify-content: center;
}

.category-container {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

.new-category {
  margin-right: 20px;
}

.new-category mat-card-header {
  display: flex;
  justify-content: center;
}
