<mat-toolbar color="primary">
  <div>
    <ul class="navigation-items">
      <li class="home">
        <a>
          <mat-icon class="menu" (click)="toggleSidenav()">menu</mat-icon>
          <span class="title">MARKET</span>
        </a>
      </li>
      <mat-divider [vertical]="true"></mat-divider>
      <li class="nav">
        <a routerLink="/store">
          <mat-icon>store</mat-icon>
          <span class="nav-caption">Store</span>
        </a>
      </li>
      <li class="nav">
        <a routerLink="/store/checkout">
          <!-- <mat-icon matBadge="{{cart.totalCount()}}" matBadgeColor="accent">local_grocery_store</mat-icon> -->
          <mat-icon matBadge="2" matBadgePosition="below" matBadgeColor="accent" matBadgeSize="small">
            local_grocery_store</mat-icon>
          <span class="nav-caption">Checkout</span>
        </a>
      </li>
      <li class="nav" *ngIf="currentUser$ | async">
        <a routerLink="/user/account">
          <mat-icon aria-hidden="false">face</mat-icon>
          <span class="nav-caption">My account</span>
        </a>
      </li>
      <li class="nav" *ngIf="(currentUser$ | async) && (currentUser$ | async).role.includes('admin')">
        <a routerLink="/admin">
          <mat-icon>supervisor_account</mat-icon>
          <span class="nav-caption">Manage Store</span>
        </a>
      </li>
      <mat-divider [vertical]="true"></mat-divider>
    </ul>

  </div>
  <div class="auth-option">
    <mat-divider [vertical]="true"></mat-divider>
    <ul fxLayout fxLayoutGap="30px" class="navigation-items">
      <li class="nav" *ngIf="(currentUser$ | async)">
        <a routerLink="/store" (click)="logout()">
          <mat-icon aria-hidden="false">fingerprint</mat-icon>
          <span class="nav-caption">Logout</span>
        </a>
      </li>
      <li class="nav" *ngIf="!(currentUser$ | async)">
        <a routerLink="/auth/signin">
          <mat-icon aria-hidden="false">fingerprint</mat-icon>
          <span class="nav-caption">Login</span>
        </a>
      </li>
      <li class="nav" *ngIf="!(currentUser$ | async)">
        <a routerLink="/auth/signup">
          <mat-icon aria-hidden="false">account_box</mat-icon>
          <span class="nav-caption">Register</span>
        </a>
      </li>
    </ul>
  </div>
</mat-toolbar>
