<mat-toolbar color="primary">
    <div>
        <ul fxLayout fxLayoutGap="30px" class="navigation-items">
            <li class="home">
                <a routerLink="/store">
                    <mat-icon aria-hidden="false">shopping_basket</mat-icon>
                    <span class="home">MARKET</span>
                </a>
            </li>
            <mat-divider [vertical]="true"></mat-divider>
            <li>
                <a routerLink="/store" fxLayout="column" fxLayoutAlign="start center">
                    <mat-icon>store</mat-icon>
                    <span class="nav-caption">Store</span>
                </a>
            </li>
            <li>
                <a routerLink="/user/account" fxLayout="column" fxLayoutAlign="start center">
                    <mat-icon aria-hidden="false">face</mat-icon>
                    <span class="nav-caption">My account</span>
                </a>
            </li>
            <li>
                <a routerLink="/admin" fxLayout="column" fxLayoutAlign="start center">
                    <mat-icon>supervisor_account</mat-icon>
                    <span class="nav-caption">Manage Store</span>
                </a>
            </li>
            <mat-divider [vertical]="true"></mat-divider>
            
        </ul>

    </div>
    <div fxFlex fxLayout fxLayoutAlign="end centre" fxHide.xs>
        <mat-divider [vertical]="true"></mat-divider>
        <ul fxLayout fxLayoutGap="30px" class="navigation-items">
            <li *ngIf="currentUser.userEmail">
                <a routerLink="" (click)="logout()" fxLayout="column" fxLayoutAlign="start center">
                    <mat-icon aria-hidden="false">fingerprint</mat-icon>
                    <span class="nav-caption">Logout</span>
                </a>
            </li>
            <li *ngIf="!currentUser.userEmail">
                <a routerLink="/auth/signin" fxLayout="column" fxLayoutAlign="start center">
                    <mat-icon aria-hidden="false">fingerprint</mat-icon>
                    <span class="nav-caption">Login</span>
                </a>
            </li>
            <li *ngIf="!currentUser.userEmail">
                <a routerLink="/auth/signup" fxLayout="column" fxLayoutAlign="start center">
                    <mat-icon aria-hidden="false">account_box</mat-icon>
                    <span class="nav-caption">Register</span>
                </a>
            </li>
        </ul>
    </div>
</mat-toolbar>