<mat-toolbar color="primary">
    <div>
        <ul fxLayout fxLayoutGap="30px" class="navigation-items">
            <li>
                <a routerLink="/">
                    <mat-icon aria-hidden="false">home</mat-icon>
                    <span class="nav-caption">Home</span>
                </a>
            </li>
            <li>
                <a routerLink="/store">
                    <mat-icon>store</mat-icon>
                    <span class="nav-caption">Store</span>
                </a>
            </li>
            <li>
                <a routerLink="/admin">
                    <mat-icon>boss</mat-icon>
                    <span class="nav-caption">Manage Store</span>
                </a>
            </li>
        </ul>
    </div>
    <div fxFlex fxLayout fxLayoutAlign="end centre" fxHide.xs>
        <ul fxLayout fxLayoutGap="30px" class="navigation-items">
            <li>
                <a routerLink="/auth/signin">
                    <mat-icon aria-hidden="false">fingerprint</mat-icon>
                    <span class="nav-caption">Login</span>
                </a>
            </li>
            <li>
                <a routerLink="/auth/signup">
                    <mat-icon aria-hidden="false">account_box</mat-icon>
                    <span class="nav-caption">Register</span>
                </a>
            </li>
        </ul>
    </div>
</mat-toolbar>