mat-card.form-card{
    width:400px;
    margin: 10px;
    height: fit-content;
}

mat-card-header.form-card{
    justify-content: center;
}

mat-form-field.form-card{
    width: 100%;
}

button{
    margin: 3px;
}

button.card-form{
    display: block;
    width:100%;
    margin: 2px;
}
mat-form-field.form-card-category{
    width: 75%;
}

mat-card.card-title{
    width:400px;
    margin: 7px;
    
}

mat-card.card-image{
    width:400px;
    margin: 7px;
}
mat-card.card-info{
    width:400px;
    margin: 10px;

}

.mat-card-image:first-child {
    margin-top: 0;
}

.uploadfilecontainer {
    background-repeat: no-repeat;
    background-size: 100px;
    background-position: center;
    height: 70px;
    width: 80%;
    margin: 20px auto;
    border: 2px dashed #1C8ADB;
    border-radius: 10px;
    display: flex;
    justify-content: center;
}

.uploadfilecontainer:hover {
    cursor: pointer;
    background-color: #9ecbec !important;
    opacity: 0.8;
}

// .files-list {
//     margin: 1px;
//     background: #ffffff;
//     border: 1px dashed;
//     border-radius: 12px;
//     color: #1c8adb;
//     display: flex;
//     flex-direction: row;
//     flex-wrap: wrap;
// }

.files-list .delete-file {
    background: transparent;
    border: none;
    cursor: pointer;
}

.files-list .delete-file img {
    width: 30px;
}

.main{
    max-height: none;
}


.container{
    display: flex;
    flex-direction:column;
    flex-wrap: wrap;
}
img.image{
    width: 400px;
    height: 220px;
}

mat-card.image{
    margin-top:10px;
    margin-right: 10px;
}

mat-icon.delete{
    cursor: pointer;
}
// .section-one{
//     grid-area: one;
//     width: 100%;
//     box-sizing: border-box;
//     padding: 0px;
//     border: 1px solid lightgray;
//     display: flex;
//     overflow-x: scroll;
//     scroll-snap-type: x mandatory;
// }


// .image {
//     scroll-snap-align: center;
//     border-radius: 3px;
//     font-size: 0;
//     margin-left: 5px;
//     margin-right: 5px;
//     margin-top: 0px;
//     margin-bottom: 0px;
//     height: 250px;
//   }
//   .first{
//     margin-top: 0px;
//     margin-left: 0px;
//   }