<div class="card" fxLayout="column" fxLayoutAlign="start center" >
    <mat-card>
        <mat-card-header>
            <mat-card-title>
                Order Status
            </mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <mat-divider class="divider"></mat-divider>
            <div >
                <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="20px"
                    *ngIf="order.orderDate.getTime()!==defaultDate.getTime()">
                    <mat-icon>add_shopping_cart</mat-icon>
                    <mat-chip-list>
                        <mat-chip color="accent" selected>{{order.orderDate|date:'short'}}</mat-chip>
                    </mat-chip-list>
                    <p>The order is placed, it will be processed soon.</p>
                </div>
                <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="20px"
                *ngIf="order.processedDate.getTime()!==defaultDate.getTime()">
                    <mat-icon>build</mat-icon>
                    <mat-chip-list>
                        <mat-chip color="accent" selected>{{order.processedDate|date:'short'}}</mat-chip>
                    </mat-chip-list>
                    <p>The order is processed and ready to be send.</p>
                </div>
                <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="20px"
                *ngIf="order.inRouteDate.getTime()!==defaultDate.getTime()">
                    <mat-icon>mail_outline</mat-icon>
                    <mat-chip-list>
                        <mat-chip color="accent" selected>{{order.inRouteDate|date:'short'}}</mat-chip>
                    </mat-chip-list>
                    <p>The package is in route.</p>
                </div>
                <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="20px"
                    *ngIf="order.deliveryDate.getTime()!==defaultDate.getTime()">
                    <mat-icon>home_work</mat-icon>
                    <mat-chip-list>
                        <mat-chip color="accent" selected>{{order.deliveryDate|date:'short'}}</mat-chip>
                    </mat-chip-list>
                    <p>The order is delivered.</p>
                </div>
                <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="20px"
                *ngIf="order.deliveryConfirmationDate.getTime()!==defaultDate.getTime()">
                    <mat-icon>how_to_reg</mat-icon>
                    <mat-chip-list>
                        <mat-chip color="accent" selected>{{order.deliveryConfirmationDate|date:'short'}}</mat-chip>
                    </mat-chip-list>
                    <p>The order delivery is confirmed.</p>
                </div>
                <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="20px"
                    *ngIf="order.cancelationDate.getTime()!==defaultDate.getTime()">
                    <mat-icon>cancel</mat-icon>
                    <mat-chip-list>
                        <mat-chip color="accent" selected>{{order.cancelationDate|date:'short'}}</mat-chip>
                    </mat-chip-list>
                    <p>The order is canceled.</p>
                </div>

            </div>
           

            
        </mat-card-content>
    </mat-card>
</div>
<!--  -->