mat-card{
    margin: 2px;
    width: 100%;
}

div.card{
    width: 500px;
}

.mat-card .mat-divider-horizontal {
    width: inherit;
    position: inherit;
}

mat-card-header{
    justify-content: center;
}
.divider{
    margin-bottom:10px ;
}