.sign-up-container {
  display: flex;
  justify-content: center;
  margin: 20px auto;
}

.sign-up-card {
  mat-card-header {
    display: flex;
    justify-content: center;
  }

  .form-field {
    width: 400px;

    mat-form-field {
      width: 100%;
    }
  }

  .button {
    display: flex;
    justify-content: center;
  }
}
