<div class="main" fxLayout="column" fxLayoutAlign="start center">
    <table mat-table [dataSource]="userList">
        <ng-container matColumnDef="UserEmail">
            <th mat-header-cell *matHeaderCellDef >
                <span class="header">User Email</span>
            </th>
            <td mat-cell *matCellDef="let user"> {{user.userEmail}}</td>
        </ng-container>
    
        <ng-container matColumnDef="Roles">
            <th mat-header-cell *matHeaderCellDef>
                <span class="header">Roles</span>
            </th>
            <td mat-cell *matCellDef="let user"> {{user.roles}}</td>
        </ng-container>
    
        <ng-container matColumnDef="Options">
            <th mat-header-cell *matHeaderCellDef class="options">Options</th>
            <td mat-cell *matCellDef="let user">
                <button *ngIf="!user.roles.includes('admin')" mat-button color="primary" 
                (click)="upgradeToAdmin(user.userEmail)">upgrade to admin</button>
            </td>
        </ng-container>
    
        <tr mat-header-row *matHeaderRowDef="displayedColumns" class="header"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    
</div>
