<div class="main">
  <mat-card class="form-card">
    <mat-card-header>
      <mat-card-title>Product Details</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <form [formGroup]="form">
        <mat-form-field appearance="outline" class="full">
          <mat-label>product name</mat-label>
          <input matInput placeholder="name..." formControlName="name">
          <mat-error *ngIf="checkValidity('name', 'required', form)">
            name is required.
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline" class="full">
          <mat-label>product description</mat-label>
          <textarea matInput placeholder="description ..." formControlName="description">
          </textarea>
        </mat-form-field>

        <mat-form-field appearance="outline" class="full">
          <mat-label>product price</mat-label>
          <input type="number" min="0" matInput placeholder="price ..." formControlName="price">
          <mat-error *ngIf="checkValidity('price', 'required', form)">
            price is required.
          </mat-error>
        </mat-form-field>

        <div class="full category">
          <mat-form-field appearance="outline">
            <mat-label>categories</mat-label>
            <mat-select placeholder="select category" (selectionChange)="selectCategroy($event)"
              formControleName="category">
              <mat-option value="{{category.id}}" *ngFor="let category of categories">
                {{category.name}}
              </mat-option>
              <mat-option *ngIf="!categories.length">
                There is no categories, create a new one.
              </mat-option>
            </mat-select>
          </mat-form-field>
          <button mat-raised-button (click)="goCategories()">add category</button>
        </div>

        <mat-form-field class="full">
          <mat-chip-list>
            <mat-chip color="primary" *ngFor="let category of product.categories" [removable]="true"
              (removed)="removeCategory(category.id)" [selectable]="true">
              {{category.name}}
              <mat-icon matChipRemove>cancel</mat-icon>
            </mat-chip>
          </mat-chip-list>
        </mat-form-field>

        <div class="images">
          <div class="cover-image">
            <input hidden type="file" #fileCover (change)="selectCover($event)">
            <p (click)="fileCover.click()">Cover Image</p>

            <div *ngIf="coverImage" class="images">
              <mat-icon matTooltip="{{ coverImage.name }}">photo</mat-icon>
              <mat-icon matTooltip="delete" class="delete" (click)="deselectCover()" color="warn">clear</mat-icon>
              <span *ngIf="coverPer">{{ coverPer }} %</span>
            </div>
            <div *ngIf="!coverImage">
              <small>No Image</small>
            </div>
          </div>
          <div class="product-images">
            <input hidden type="file" #fileImages (change)="selectImages($event)" multiple>
            <p (click)="fileImages.click()">Product Images</p>

            <div *ngIf="productImages.length">
              <div *ngFor="let image of productImages; index as i" class="images">
                <mat-icon matTooltip="{{ image.name }}">photo</mat-icon>
                <mat-icon matTooltip="delete" class="delete" (click)="deselectImage(i)" color="warn">clear</mat-icon>
                <span *ngIf="imagesPer[i]">{{ imagesPer[i] }} %</span>
              </div>
            </div>
            <div *ngIf="!productImages.length">
              <small>No Images</small>
            </div>
          </div>
        </div>

      </form>
    </mat-card-content>
    <div class="btns">
      <button mat-raised-button color="primary" [disabled]="saveStatus"
      (click)="save()" matTooltip="{{ saveStatus ? 'waiting for images upload' : 'save the product'}}">
        Save
      </button>
    </div>
  </mat-card>
  <div class="display-images">
    <div class="image"
      style="background-image: url({{product.coverImage}}); background-position: center; background-size: cover;"
      *ngIf="product.coverImage">
      <div class="options-cover">
        <mat-chip>Cover Image</mat-chip>
      </div>
    </div>
    <div class="image" *ngFor="let image of this.product.images; index as i"
      style="background-image: url({{image}}); background-position: center; background-size: cover;">
      <div class="options-images">
        <button mat-mini-fab color="warn" matTooltip="delete" (click)="deleteImage(i)">
          <mat-icon>clear</mat-icon>
        </button>
      </div>
    </div>
  </div>
</div>
