<div class="main">
  <mat-card class="form-card">
    <mat-card-header>
      <mat-card-title>Product Details</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <form [formGroup]="form">
        <mat-form-field appearance="outline" class="full">
          <mat-label>product name</mat-label>
          <input matInput placeholder="name..." formControlName="name">
          <mat-error *ngIf="checkValidity('name', 'required', form)">
            name is required.
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline" class="full">
          <mat-label>product description</mat-label>
          <textarea matInput placeholder="description ..." formControlName="description">
          </textarea>
        </mat-form-field>

        <mat-form-field appearance="outline" class="full">
          <mat-label>product price</mat-label>
          <input type="number" min="0" matInput placeholder="price ..." formControlName="price">
          <mat-error *ngIf="checkValidity('price', 'required', form)">
            price is required.
          </mat-error>
        </mat-form-field>

        <div class="full category">
          <mat-form-field appearance="outline">
            <mat-label>categories</mat-label>
            <mat-select placeholder="select category" (selectionChange)="selectCategroy($event)"
              formControleName="category">
              <mat-option value="{{category.id}}" *ngFor="let category of categories">
                {{category.name}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <button mat-raised-button (click)="goCategories()">add category</button>
        </div>

        <mat-form-field class="full">
          <mat-chip-list>
            <mat-chip color="primary" *ngFor="let category of product.categories" [removable]="true"
              (removed)="removeCategory(category.id)" [selectable]="true">
              {{category.name}}
              <mat-icon matChipRemove>cancel</mat-icon>
            </mat-chip>
          </mat-chip-list>
        </mat-form-field>

        <div class="images">
          <div class="cover-image">
            <input hidden type="file" #fileCover (change)="selectCover($event)">
            <p (click)="fileCover.click()">Cover Image</p>

            <div *ngIf="coverImage">
              <mat-icon matTooltip="{{ coverImage.name }}">photo</mat-icon>
              <mat-icon matTooltip="delete" class="delete" (click)="deselectCover()" color="warn">clear</mat-icon>
            </div>
            <div *ngIf="!coverImage">
              <small>No Image</small>
            </div>
          </div>
          <div class="product-images">
            <input hidden type="file" #fileImages (change)="selectImages($event)" multiple>
            <p (click)="fileImages.click()">Product Images</p>

            <div *ngIf="productImages.length">
              <div *ngFor="let image of productImages; index as i">
                <mat-icon matTooltip="{{ image.name }}">photo</mat-icon>
                <mat-icon matTooltip="delete" class="delete" (click)="deselectImage(i)" color="warn">clear</mat-icon>
              </div>
            </div>
            <div *ngIf="!productImages.length">
              <small>No Images</small>
            </div>
          </div>
        </div>
        

        <div class="images">
         
          <!-- <button mat-button class="delete-file" *ngFor="let file of files;index as i">
            <mat-icon matTooltip="{{ file.name }}">photo</mat-icon>
            <mat-icon matTooltip="delete" (click)="deleteAttachment(i)" color="warn">clear</mat-icon>
          </button> -->
        </div>

      </form>
    </mat-card-content>
    <div class="btns">
      <button mat-raised-button color="primary" (click)="save()">Save</button>
    </div>
  </mat-card>

  <!-- <div class="container">
    <mat-card *ngFor="let url of imageUrls;index as i" class="image">
      <mat-card-content>
        <div>
          <mat-icon (click)="deleteImage(i)" class="delete" matTooltip="delete">clear</mat-icon>
        </div>
        <img mat-card-image [src]="url" alt="product image" class="image">
      </mat-card-content>
    </mat-card>
  </div> -->
</div>
