<div class="container">
  <table mat-table [dataSource]="dataSource">
    <ng-container matColumnDef="Order Date">
      <th mat-header-cell *matHeaderCellDef>
        <span class="header">Order Date</span>
      </th>
      <td mat-cell *matCellDef="let order"> {{order.orderDate | date:'short'}} </td>
    </ng-container>

    <ng-container matColumnDef="Order Amount">
      <th mat-header-cell *matHeaderCellDef>
        <span class="header">Order Amount</span>
      </th>
      <td mat-cell *matCellDef="let order">
        {{order.totalPrice() | currency: 'USD'}}
      </td>
    </ng-container>

    <ng-container matColumnDef="Status">
      <th mat-header-cell *matHeaderCellDef>Order Status</th>
      <td mat-cell *matCellDef="let order">
        <mat-chip-list>
          <mat-chip class="status">{{ order.status() }}</mat-chip>
        </mat-chip-list>
      </td>
    </ng-container>

    <ng-container matColumnDef="Options">
      <th mat-header-cell *matHeaderCellDef>Options</th>
      <td mat-cell *matCellDef="let order" class="options">
        <button mat-stroked-button color="primary" (click)="goOrder(order.id)">
          Details
        </button>
      </td>
      <td mat-footer-cell *matFooterCellDef></td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="['Order Date', 'Order Amount', 'Status', 'Options']"></tr>
    <tr mat-row *matRowDef="let row; columns: ['Order Date', 'Order Amount', 'Status', 'Options'];"></tr>
  </table>
  <div class="paginator">
    <mat-paginator [pageSizeOptions]="[10, 20]" showFirstLastButtons></mat-paginator>
  </div>
</div>
