.all-products {
  display: flex;
  justify-content: space-evenly;
  padding: 20px 20px 0;
}

.products {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

product-card {
  margin: 0 5px 10px;
}
