<div class="products">
  <mat-card>
    <mat-card-content>
      <filter-and-sort></filter-and-sort>
    </mat-card-content>
  </mat-card>
  <div class="table">
    <table mat-table [dataSource]="products$" class="mat-elevation-z8">
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef class="header">
          <span class="header">product</span>
          <!-- <mat-icon class="header" *ngIf="selectedSortElement!=='productName'">
            sort
          </mat-icon>
          <mat-icon class="header"
            *ngIf="selectedSortElement==='productName' && sortDirection.get('productName')==='asc'">
            arrow_drop_up
          </mat-icon>
          <mat-icon class="header"
            *ngIf="selectedSortElement==='productName' && sortDirection.get('productName')==='desc'">
            arrow_drop_down
          </mat-icon> -->
        </th>
        <td mat-cell *matCellDef="let product"> {{product.name | formatTitleDescription: product.description}}
        </td>
      </ng-container>

      <ng-container matColumnDef="price">
        <th mat-header-cell *matHeaderCellDef>
          <span class="header">price</span>
          <!-- <mat-icon class="header" *ngIf="selectedSortElement!=='price'">
            sort
          </mat-icon>
          <mat-icon class="header" *ngIf="selectedSortElement==='price' && sortDirection.get('price')==='asc'">
            arrow_drop_up
          </mat-icon>
          <mat-icon class="header" *ngIf="selectedSortElement==='price' && sortDirection.get('price')==='desc'">
            arrow_drop_down
          </mat-icon> -->
        </th>
        <td mat-cell *matCellDef="let product">{{product.price | currency:'MAD'}}</td>
      </ng-container>

      <ng-container matColumnDef="quantity">
        <th mat-header-cell *matHeaderCellDef class="quantity">
          <span class="header">quantity</span>
          <!-- <mat-icon class="header" *ngIf="selectedSortElement!=='quantity'">
            sort
          </mat-icon>
          <mat-icon class="header" *ngIf="selectedSortElement==='quantity' && sortDirection.get('quantity')==='asc'">
            arrow_drop_up
          </mat-icon>
          <mat-icon class="header" *ngIf="selectedSortElement==='quantity' && sortDirection.get('quantity')==='desc'">
            arrow_drop_down
          </mat-icon> -->
        </th>
        <td mat-cell *matCellDef="let product">{{product.quantity}}</td>
      </ng-container>

      <ng-container matColumnDef=" ">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let product">
          <div class="options">
            <mat-icon class='option add' matTooltip="add quantity">add</mat-icon>
            <mat-icon class='option edit' matTooltip="edit product">edit</mat-icon>
            <mat-icon class='option clear' matTooltip="delete product">clear</mat-icon>
          </div>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="['name', 'price', 'quantity', ' ']" class="header"></tr>
      <tr mat-row *matRowDef="let row; columns: ['name', 'price', 'quantity', ' '];"></tr>
    </table>
    <div class="paginator">
      <paginator></paginator>
    </div>
  </div>
</div>
