table{
    width:700px;
    margin:10px;
}

div.btn-nav{
    width:700px;
    margin:10px;
}

div.table{
    display:flex;
    justify-content: center;
}

.price{
    width:10%;
}

mat-form-field{
    width:50%;
}
button{
    margin-bottom: 0px;
}
