mat-card.form-card{
    width:400px;
    margin: 7px;
}

mat-card-header.form-card{
    justify-content: center;
}

mat-form-field.form-card{
    width: 100%;
}

button{
    margin: 3px;
}

button.card-form{
    display: block;
    width:100%;
    margin: 2px;
}
mat-form-field.form-card-category{
    width: 75%;
}

mat-card.card-title{
    width:400px;
    margin: 7px;
    
}

mat-card.card-image{
    width:400px;
    margin: 7px;
}
mat-card.card-info{
    width:400px;
    margin: 7px;

}

.mat-card-image:first-child {
    margin-top: 0;
}