<div fxLayout="row" fxLayoutAlign="center stretch" class="main">
    <mat-card class="form-card" fxLayout="column" fxLayoutAlign="space-around centre">
        <mat-card-header class="form-card">
            <mat-card-title>Product Details</mat-card-title>
        </mat-card-header>
        <mat-card-content >
            <form [formGroup]="form" fxLayout="column" fxLayoutAlign="space-between centre" >
                <mat-form-field class="form-card">
                    <input matInput placeholder="Name" formControlName="name" (keyup)="updateProduct()">
                </mat-form-field>

                <mat-form-field class="form-card">
                    <textarea matInput placeholder="Description" formControlName="description"
                        (keyup)="updateProduct()">
                    </textarea>
                </mat-form-field>

                <div fxLayout="row" fxLayoutAlign="center start" fxLayoutGap="10px">
                    <mat-form-field class="form-card">
                        <input matInput placeholder="Price" formControlName="price" (keyup)="updateProduct()">
                    </mat-form-field>
                    <mat-form-field class="form-card">
                        <input matInput placeholder="Quantity" formControlName="quantity" (keyup)="updateProduct()">
                    </mat-form-field>
                </div>
                <div fxLayout="row" fxLayoutAlign="center start" fxLayoutGap="10px">
                    <mat-form-field class="form-card-category">
                        <mat-select placeholder="Select Category" formControlName="category" (selectionChange)="updateProduct()">
                            <mat-option value="{{category.categoryId}}" *ngFor="let category of categories">
                                {{category.categoryName}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                    <button mat-raised-button (click)="goCategories()">Add category</button>
                </div>
                
                <mat-form-field class="form-card">
                    <mat-chip-list >
                        <mat-chip color="primary" *ngFor="let category of product.categories" [removable]="true"
                            (removed)="removeCategory(category.categoryId)" [selectable]="true">
                            {{category.categoryName}}
                            <mat-icon matChipRemove>cancel</mat-icon>
                        </mat-chip>
                    </mat-chip-list>
                </mat-form-field>

                <mat-form-field class="form-card">
                    <input matInput placeholder="Image url" formControlName="image" (keyup)="updateProduct()">
                </mat-form-field>

                <div class="uploadfilecontainer" (click)="fileInput.click()" appDragDrop (onFileDropped)="uploadFile($event)">
                    <input hidden type="file" #fileInput (change)="uploadFile($event.target.files)">
                    <p>Drag and drop an image</p>
                </div>
                <div class="files-list" *ngFor="let file of files;let i= index">
                    <p> {{ file }} </p>
                    <button class="delete-file" (click)="deleteAttachment(i)">
                        <mat-icon>clear</mat-icon>
                    </button>
                </div>



            </form>
        </mat-card-content>
        <div>
            <button class="card-form" mat-raised-button color="primary" (click)="save()">Save</button>
            <button class="card-form" mat-raised-button color="warn" (click)="delete()">delete</button>
        </div>
    </mat-card>
    <div fxLayout="column" fxLayoutAlign="space-between center" >
        <mat-card class="card-title" *ngIf="product.productName">
            <mat-card-header>
                <mat-card-title>{{product.productName}}</mat-card-title>
            </mat-card-header>
        </mat-card>
        <mat-card class="card-image" *ngIf="product.image">
            <img mat-card-image src="{{product.image}}" class="card-image">
        </mat-card>
        <mat-card class="card-info" *ngIf="product.price || product.description">
            <mat-card-content>
            <div *ngIf="product.price">{{product.price | currency:'MAD'}}</div>
            <div *ngIf="product.description">{{product.description | formatTitleDescription:''}}</div>
            </mat-card-content>
        </mat-card>
    </div>
</div>