mat-card.form-card{
    width:400px;
    margin: 10px;
}

mat-card-header.form-card{
    justify-content: center;
}

mat-form-field.form-card{
    width: 100%;
}

button{
    margin: 3px;
}

mat-form-field.form-card-category{
    width: 75%;
}