
.image{
  height: 250px;
}

.btn{
  width:100%;
}

.btn-left{
  width:40%;
  float:left;
}

.btn-right{
  width:40%;
  float:right;
}

.btn-mid{
  width:20%;
}

.divbtn{
  width:100%;
  margin-bottom:2px;
}
mat-card{
  margin:10px;
  width:400px;
}

.mat-card-actions .mat-button, .mat-card-actions .mat-raised-button, .mat-card-actions .mat-stroked-button {
  margin: 0 0px;
}
.mat-button, .mat-flat-button, .mat-icon-button, .mat-stroked-button {
  min-width: 0px;
}

mat-card.reviews-section{
  width:845px;
  margin:0.5px;
}
mat-form-field,mat-slider{
  width:100%;
}

div.reviews-section{
  margin-top: 5px;
  margin-bottom: 30px;
}

mat-divider.user-name{
  justify-content: center;
  display:block;
  position: relative;
}

mat-card.add-review{
  margin-top: 1px;
  margin-bottom: 30px;
  width:845px;
}

mat-icon.close{
  cursor: pointer;
}

mat-form-field.add-review{
  width: 100%;
}

mat-card-content.add-review{
  width: 100%;
  margin-bottom: 0px;
}
mat-card-actions{
  margin-bottom: 0px;
}

mat-card-content.reviews-summary{
  padding-left: 30px;
  padding-right: 30px;
}