
.preview{
  max-width:50px;
  max-height: 50px;
  margin-left: 5px;
}

.btn{
  width:100%;
}

.btn-left{
  width:40%;
  float:left;
}

.btn-right{
  width:40%;
  float:right;
}

.btn-mid{
  width:20%;
}

.divbtn{
  width:100%;
  margin-bottom:2px;
}

.card-image{
  width: 600px;
  float: left;
}

.card-actions{
  float:left;
  width:400px;
}

.card-description{
  float:left;
  width: 400px;
}

.image{
  height: 400px;
}

.global{
  margin-left:50px;
}

mat-card{
  margin:5px;
}

.mat-card-actions .mat-button, .mat-card-actions .mat-raised-button, .mat-card-actions .mat-stroked-button {
  margin: 0 0px;
}
.mat-button, .mat-flat-button, .mat-icon-button, .mat-stroked-button {
  min-width: 0px;
}
