<div class="main"  fxLayout="row" fxLayoutAlign="center stretch" >
    <mat-card class="card-image">
        <img mat-card-image src="{{product.image}}" alt="Photo of a Shiba Inu" class="image">
    </mat-card>
    <div fxLayout="column" fxLayoutAlign="space-between center">
        <mat-card class="card-actions">
            <mat-card-header>
                <mat-card-title>{{product.productName}}</mat-card-title>
                <mat-card-subtitle>price: {{product.price | currency:'MAD'}}</mat-card-subtitle>
            </mat-card-header>
            <mat-card-actions>
                <div class="divbtn" *ngIf="cart.indexByProduct(this.product.productId)===-1">
                    <button mat-raised-button color="primary" (click)="addToCart()" class="btn">Buy</button>
                </div>
                <div class="divbtn" *ngIf="cart.indexByProduct(this.product.productId)!==-1">
                    <button mat-raised-button color="primary" (click)="increment()" class="btn-left">+</button>
                    <button mat-button class="btn-mid">
                        <mat-icon matBadge="{{cart.itemCount(this.product.productId)}}">shopping_cart</mat-icon>
                    </button>
                    <button mat-raised-button color="primary" (click)="decrement()" class="btn-right">-</button>
                </div>
            </mat-card-actions>
        </mat-card>
        <mat-card class="card-description" >
            <mat-card-header>
                <mat-card-title>About the product</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <p>
                    {{this.product.description}}
                </p>
            </mat-card-content>
        </mat-card>
    </div>
</div>
<div class="reviews-section" fxLayout="row" fxLayoutAlign="center stretch">
    <mat-card class="reviews-section">
        <mat-card-header>
            <mat-card-title>Add a review</mat-card-title>
        </mat-card-header>
        <mat-card-content>
                <mat-slider [max]="5" [min]="0" [step]="0.1" [tickInterval]="auto"
                [(ngModel)]="productReview.userRating" [thumbLabel]="true">
            </mat-slider>
            <mat-form-field appearance="outline">
                <mat-label>Comment about the product</mat-label>
                <textarea matInput  placeholder="Add a comment" cdkTextareaAutosize="true" 
                matTextareaAutosize="true" cdkAutosizeMinRows="3" (ngModel)="productReview.userReview"></textarea>
            </mat-form-field>
        </mat-card-content>
        <mat-card-actions>
            <button mat-button color='primary'>LIKE</button>
            <button mat-button color='warn'>SHARE</button>
        </mat-card-actions>
    </mat-card>
</div>
