<mat-toolbar  class="header">
        <div >
            <ul fxLayoutGap="100px" class="navigation-items" fxLayout="row" fxLayoutAlign="center center">
                <li>
                    <a routerLink="">
                        <mat-icon>supervisor_account</mat-icon>
                        <span class="nav-caption">Manage Store</span>
                    </a>
                </li>
                <li>
                    <a routerLink="products">
                        <mat-icon>playlist_add</mat-icon>
                        <span class="nav-caption">Product List</span>
                    </a>
                </li>
                <li>
                    <a routerLink="orders">
                        <mat-icon>format_list_bulleted</mat-icon>
                        <span class="nav-caption">Orders</span>
                    </a>
                </li>
            </ul>
        </div>
    </mat-toolbar>